body{
    background: #fff;
    position: relative;
}

.center_vertical{
    display:flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.bottom_vertical{
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.center_horizontal{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.right_horizontal{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.center_text{
    text-align: center;
}

.text_align_right{
    text-align: right;
}

.text_align_left{
    text-align: left;
}

.flex{
    display: flex;
    display: -webkit-flex;
}

/* Social Buttons */
.btn_socials{
    margin-top: 7px;
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 1px solid #E6E7E8;
}

.btn_socials span{
    margin-right: 3px;
}

.btn_socials span:hover{
    cursor: pointer;
}

.btn_linkedin{
    background-image: url('../images/socials.svg');
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    background-position: -89px -27px;
    display: inline-block;
}

.btn_linkedin:hover, .btn_linkedin:focus{
    background-position: -89px 1px;
    cursor: pointer;
}

.btn_twitter{
    background-image: url('../images/socials.svg');
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    background-position: -59px -27px;
    display: inline-block;
}

.btn_twitter:hover, .btn_twitter:focus{
    background-position: -59px 1px;
    cursor: pointer;
}

.btn_fb{
    background-image: url('../images/socials.svg');
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    background-position: -29px -27px;
    display: inline-block;
}

.btn_fb:hover, .btn_fb:focus{
    background-position: -29px 1px;
    cursor: pointer;
}

.btn_yt{
    background-image: url('../images/socials.svg');
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    background-position: -149px -27px;
    display: inline-block;
}

.btn_yt:hover, .btn_yt:focus{
    background-position: -149px 1px;
    cursor: pointer;
}

.btn_email{
    background-image: url('../images/socials.svg');
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    background-position: -119px -27px;
    display: inline-block;
}

.btn_email:hover, .btn_email:focus{
    background-position: -119px 1px;
    cursor: pointer;
}

.btn_connect{
    background-image: url('../images/socials.svg');
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    background-position: 1px -27px;
    display: inline-block;
}

.btn_connect:hover, .btn_connect:focus{
    background-position: 1px 1px;
    cursor: pointer;
}

/* Middle Out */
.sliding-middle-out {
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
}
.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 4px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
    width: 100%;
    background: #fff;
}

/* Middle Out2 */
.sliding-middle-out2 {
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
}
.sliding-middle-out2:after {
    content: '';
    display: block;
    margin: auto;
    height: 4px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out2:hover:after {
    width: 100%;
    background: #414042;
}

/* FOLLOW/FOLLOWING button */
.btn_follow_on_white_bg{
    margin-left: 20px;
    color: #A7A9AC;	font-family: "ProximaNova";	font-size: 12px;	line-height: 16px;
    cursor: pointer;
}
.btn_follow_on_white_bg:hover, .btn_follow_on_white_bg:active, .btn_follow_on_white_bg_active{
    color: #414042;
}

.btn_follow_on_blue_bg{
    margin-left: 20px;
    color: #A0A9FF;	font-family: "ProximaNova";	font-size: 12px; line-height: 16px;
    cursor: pointer;
}
.btn_follow_on_blue_bg:hover, .btn_follow_on_blue_bg:active, .btn_follow_on_blue_bg_active{
    color: #DFE2FF;
}

.btn_claim_company{
    margin-left: 20px;
    color: #A7A9AC;	font-family: "ProximaNova";	font-size: 12px;	line-height: 16px;
    cursor: pointer;
}
.btn_claim_company:hover{
    color: #414042;
}

/* Label */
.label1{
    color: #414042;	font-family: "ProximaNova";	font-size: 17px;	font-weight: 600;	line-height: 22px;
}
.label2{
    color: #A7A9AC;	font-family: "ProximaNova";	font-size: 12px;	line-height: 16px;
}
.label3{
    color: #414042;	font-family: "ProximaNova";	font-size: 16px;	line-height: 24px;
}
.label4{
    color: #A7A9AC;	font-family: "ProximaNova";	font-size: 16px;	font-weight: 600;	line-height: 26px;	text-align: center;
}
.label5{
    color: #414042;	font-family: "ProximaNova";	font-size: 17px;	font-weight: 600;	line-height: 22px;	text-align: center;
}
.label6{
    color: #414042;	font-family: "ProximaNova";	font-size: 32px;	font-weight: bold;	line-height: 30px;	text-align: center;
    margin-top: 14px;
}
.label7{
    color: #6170FF;	font-family: "ProximaNova";	font-size: 14px;	line-height: 19px;	text-align: center;
}
.label8{
    color: #414042;	font-family: "ProximaNova";	font-size: 12px;	line-height: 16px;	text-align: center;
}
.label9{
    color: #414042;	font-family: "ProximaNova";	font-size: 28px;	font-weight: 300;	line-height: 32px;	text-align: center;
}
.label10{
    color: #414042;	font-family: "UniNeueBook";	font-size: 48px;	font-weight: 300;	line-height: 48px;	text-align: center;
}




/**
    platform_overview
 */
.platform_overview{

}

.po_header{
    background: url("../images/img_header.png") no-repeat;
    background-size: cover;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.po_header__content{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 135.15px;
    padding-bottom: 240px;
}

.po_header__lgfont{
    font-family: "UniNeueRegular";
    color: #fff;
    font-size: 48px;
    text-align: left;
    letter-spacing: 0.66px;
    line-height: 48px;

    max-width: 584.15px;
    width: 100%;
}

.po_header__mdfont{
    font-family: "ProximaNovaLight";
    color: #DFE2FF;
    font-size: 28px;
    text-align: left;
    line-height: 32px;
    letter-spacing: 0;

    padding-top: 23.44px;

    max-width: 588.6px;
    width: 100%;
}

.po_header__solution{
    max-width: 311.04px;
    width: 100%;
    margin-left: auto;
    text-align: left;
    padding-top: 54.81px;
}

@media (max-width: 992px) {
    .po_header__solution {
        margin-left: inherit;
        margin-right: auto;
    }
}

.po_header__smfont{
    font-family: "ProximaNovaRegular";
    color: #FCCC06;
    font-size: 17px;
    text-align: left;
    line-height: 39px;
    letter-spacing: 0;
}

.po_header__xsfont{
    font-family: "ProximaNovaRegular";
    color: #fff;
    font-size: 17px;
    text-align: left;
    line-height: 39px;
    letter-spacing: 0;
    border-bottom: 1px solid #fff;
    display: block;
}

.po_header__xsfont:hover{
    color: #38D299;
    text-decoration: none;
}

.po_header__xsfont:focus{
    color: #fff;
    text-decoration: none;
}

.po_header__xsfont.last{
    border-bottom: 0;
}

.po_header__xsfont > img{
    width: 10px;
    margin-left: 10px;
}


/**

 */
.po_wealth_data{
    margin: 15px 15px 0 15px;
    width: calc(100% - 30px);
    background: #F5F5F5;
}

.po_wealth_data__content{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
}

.po_wd_box{
    background: #fff;
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 670px;

    margin-top: -155px;
    display: inline-block;

    text-align: center;

    padding: 87px 15px;
}

.po_wd_box__lgfont{
    font-family: "ProximaNovaSemibold";
    color: #414042;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.13px;
    line-height: 22px;
}

.po_wd_box__mdfont{
    font-family: "UniNeueBook";
    color: #6170FF;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.13px;
    line-height: 22px;

    padding-top: 60px;
}

.po_wd_box__smfont{
    font-family: "ProximaNovaLight";
    color: #4A4A4A;
    font-size: 20px;
    letter-spacing: 0.13px;
    line-height: 22px;
    text-align: center;
    padding-top: 15px;
}

/**

 */
.po_wealth_data2{
    margin: -375px 15px 0;
    width: calc(100% - 30px);
    background: #F5F5F5;
    padding-bottom: 100px;
}

@media (max-width: 768px) {
    .po_wealth_data2 {
        margin-top: 100px;
    }
}

.po_wealth_data2__content{
    max-width: 1222px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    /*display: flex;*/
}

.po_wealth_data2__content .no_padding{
    padding: 0 !important;
}

.wealth_data__item{
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    background: #fff;
    border-top: 5px solid #6170FF;
    height: 386px;

    -webkit-box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.12);

    margin-top: 50px;
}

@media (max-width: 1232px) {
    .wealth_data__item{
        min-height: 442px;
    }
}

@media (max-width: 768px) {
    .wealth_data__item{
        min-height: 381px;
    }
}

.wealth_data__item-title{
    font-family: "ProximaNovaLight";
    color: #6170FF;
    font-size: 28px;
    text-align: center;
    line-height: 32px;

    padding-top: 47px;
}

.wealth_data__item-body{
    padding-left: 20px;
    padding-right: 20px;

    font-family: "ProximaNovaRegular";
    color: #414042;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
}

.wealth_data__item-body > div{
    font-family: "ProximaNovaBold";
    font-weight: 900;
    padding-top: 15px;
}

.wealth_data__item-btn{
    background: #38D299;
    border: 0;
    outline: none;
    font-family: "ProximaNovaBold";
    color: #fff;
    font-size: 11px;
    text-align: center;
    letter-spacing: 2.09px;
    line-height: 13px;
    max-width: 177.55px;
    width: 100%;
    height: 40px;

    margin-top: 40px;
}

.wealth_data__item-btn.last{
    margin-top: 16px;
}

.wealth_data__item-btn:hover{
    background: #005239;
}


/**

 */
.po_wealth_process{
    margin: 0 15px;
    width: calc(100% - 30px);
    background: #F5F5F5;
}

.po_wealth_process__content{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 200px;
}

.po_wealth_process__lgfont{
    font-family: "UniNeueBook";
    color: #6170FF;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.18px;
    line-height: 40px;

    padding-top: 60px;
}

.po_wealth_process__mdfont{
    font-family: "ProximaNovaSemibold";
    color: #414042;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.18px;
    line-height: 40px;
    padding-top: 10px;

    margin-bottom: 56.23px;
}

.po_wealth_process__item-img{
    /*max-width: 131px;*/
    /*width: 100%;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.po_wealth_process__item-body{
    display: flex;
    margin-top: 40px;
}

.po_wealth_process__item-no{
    width: 28px;
    height: 28px;
    -webkit-border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    border-radius: 50% 50%;
    border: 1px solid #414042;
    text-align: center;
    padding-top: 2px;

    font-family: "UniNeueBook";
    color: #414042;
    font-size: 20px;
    letter-spacing: 0.1px;
    line-height: 22px;

    margin-right: 20px;
    margin-top: 7px;
}

.po_wealth_process__item-content{
    flex: 1;
}

.pow_process__lgfont{
    font-family: "UniNeueBold";
    color: #414042;
    font-size: 28px;
    text-align: left;
    letter-spacing: 0.13px;
}

.pow_process__mdfont{
    font-family: "ProximaNovaRegular";
    color: #414042;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.08px;
    padding-top: 10px;
    max-width: 585.8px;
    width: 100%;

    border-bottom: 1px solid #A7A9AC;
    padding-bottom: 32px;
}

.pow_process__mdfont.last{
    border-bottom: 0;
}

.pow_process__mdfont a{
    color: #6170FF;
    font-family: "ProximaNovaSemibold";
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.09px;
}

.pow_process__mdfont a > img{
    width: 10px;
    margin-left: 5px;
}


/**

 */
.po_contact_box{
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    background: #FFFFFF;
    padding: 35px 100px;

    -webkit-box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.12);

    margin-top: 117px;
}

@media (max-width: 768px) {
    .po_contact_box{
        padding-left: 40px;
        padding-right: 40px;
    }
}

.po_contact_box__lgfont{
    font-family: "ProximaNovaSemibold";
    color: #6170FF;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.18px;
    line-height: 40px;

    padding-bottom: 32px;

    border-bottom: 1px solid #A7A9AC;
}

.po_contact_box__mdfont{
    font-family: "UniNeueRegular";
    color: #414042;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.13px;
    padding-top: 21.03px;
    padding-bottom: 25px;

    border-bottom: 1px solid #A7A9AC;
    display: block;
}

.po_contact_box__mdfont.last{
    border-bottom: 0;
}

.po_contact_box__mdfont > img{
    width: 15px;
}

@media (max-width: 1300px) {

}

@media (max-width: 992px) {

}

@media (max-width: 767px) {

}